<title>ヨーロッパサッカー掲示板</title>
<%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
<table>
    <tr class="laliga">
        <td><%= link_to("ラ・リーガ", "/liga", {class: "tbl"}) %></td>
    </tr>
    <tr class="bundesu">
        <td><%= link_to("ブンデスリーガ", "/bundesu", {class: "tbl"}) %></td>
    </tr>
    <tr class="premier">
        <td><%= link_to("プレミアリーグ", "/premier", {class: "tbl"}) %></td>
    </tr>
    <tr class="serieA">
        <td><%= link_to("セリエA", "/serie", {class: "tbl"}) %></td>
    </tr>
    <tr class="league_one">
        <td><%= link_to("リーグアン", "/league_one", {class: "tbl"}) %></td>
    </tr>
    <tr class="premera">
        <td><%= link_to("プリメーラリーガ", "/premera", {class: "tbl"}) %></td>
    </tr>
    <tr class="UEFA_euro">
        <td><%= link_to("UEFAユーロ", "/euro", {class: "tbl"}) %></td>
    </tr>
    <tr class="nations_league">
        <td><%= link_to("ネーションズリーグ", "/nations_league", {class: "tbl"}) %></td>
    </tr>
</table>