<title>ヨーロッパサッカー掲示板</title>
<%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
<table>
    <tr class="laliga">
        <td><%= link_to("ラ・リーガ", "home/liga", {class: "tbl"}) %></td>
    </tr>
    <tr class="bundesu">
        <td><%= link_to("ブンデスリーガ", "home/bundesu", {class: "tbl"}) %></td>
    </tr>
    <tr class="premier">
        <td><%= link_to("プレミアリーグ", "home/premier", {class: "tbl"}) %></td>
    </tr>
    <tr class="serieA">
        <td><%= link_to("セリエA", "home/serie", {class: "tbl"}) %></td>
    </tr>
    <tr class="league_one">
        <td><%= link_to("リーグアン", "home/league_one", {class: "tbl"}) %></td>
    </tr>
    <tr class="premera">
        <td><%= link_to("プリメーラリーガ", "home/premera", {class: "tbl"}) %></td>
    </tr>
    <tr class="UEFA_euro">
        <td><%= link_to("UEFAユーロ", "home/euro", {class: "tbl"}) %></td>
    </tr>
    <tr class="nations_league">
        <td><%= link_to("ネーションズリーグ", "home/nations_league", {class: "tbl"}) %></td>
    </tr>
</table>