<title>投稿一覧</title>
<%= stylesheet_link_tag 'laliga_post', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1>投稿一覧</h1>
<%= link_to "投稿する", "/laliga_posts/laliga_new" %>
<div class="comment">
    <%= @laliga_posts.each do |t| %>
</div>
<div class="title">
    <%= laliga_post.title %>
</div>
<div class="comments">
    <%= laliga_post.text %>
 </div>
 <div class="image">
 <%= image_tag @laliga_post.image.url if @laliga_post.image? %>
 <% end %>
</div>
<%= paginate(@laliga_posts) %>