<header>
    <div class="header_title">
        <%= link_to("ヨーロッパサッカー掲示板", "/", {class: "link"}) %>
    </div>
    <nav>
        <ul>
            <% if logged_in? %>
            <li><%= link_to "ログアウト", "logout", {method: :delete} %></li>
            <li><%= link_to "ユーザー", "", {class: "link"} %></li>
            <li><%= link_to "settings", "", {class: "link"} %></li>
            <li><%= link_to "プロフィール", "", {class: "link"} %></li>
            <li><%= link_to("要望、お問い合わせ", "/help", {class: "link"}) %></li>
            <% else %>
            <li><%= link_to("新規登録", "/signup", {class: "link"}) %></li>
            <li><%= link_to("ログイン", "login", {class: "link"}) %></li>
            <li><%= link_to("かんたんログイン", "", {class: "link"}) %></li>
            <% end %>
        </ul>
    </nav>
</header>