<header>
    <div class="header_title">
        <%= link_to("ヨーロッパサッカー掲示板", "/", {class: "link"}) %>
    </div>
    <nav>
        <ul class="navigation">
            <li><%= link_to("要望、お問い合わせ", "home/help", {class: "link"}) %></li>
            <li><%= link_to("新規登録", "users/signup", {class: "link"}) %></li>
            <li><%= link_to("ログイン", "", {class: "link"}) %></li>
            <li><%= link_to("かんたんログイン", "", {class: "link"}) %></li>
        </ul>
    </nav>
</header>